<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['inicio']">AuthApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link" routerLink="active" [routerLink]="['inicio']">Inicio</a></li>
      <li><a class="nav-item nav-link" routerLink="active" [routerLink]="['precios']">Precios</a></li>
      <li *ngIf="auth.isAuthenticated()"><a class="nav-item nav-link" routerLink="active" [routerLink]="['protegida']">Protegida</a></li>
    </ul>
    
    <span class="navbar-text">
      <button *ngIf="!auth.isAuthenticated()" (click)="login()" type="button" class="btn btn-outline-primary btn-sm">Ingresar</button>
      <button *ngIf="auth.isAuthenticated()" (click)="salir()" type="button" class="btn btn-outline-danger btn-sm">Salir</button>
    </span>

  </div>
</nav>